<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %> <!-- nav.ejs 포함 -->

    <div class="white-bg">
        <% for (let i = 0; i < posts.length; i++) { %> <!-- for 루프 시작 -->
            <div class="list-box">
                <h4><%= posts[i].title %></h4> <!-- 제목 출력 -->
                <p>글내용임</p>
            </div>
        <% } %> <!-- for 루프 닫기 -->
    </div> 
</body>
</html>


<!-- <%  html사이에 자바스크립트 문법쓸때 -->
 <!-- <%- inlcude 사용할때 문법 -->
  <!-- <%= 문자처럼 나오는것 <%- html태그 대로 나오는것   -->

  